name: Build and Deploy (Self-Hosted)

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          sudo docker build -t python-webpage .

      - name: Stop old container if running
        run: |
          sudo docker stop python-webpage || true
          sudo docker rm python-webpage || true

      - name: Run new container
        run: |
          sudo docker run -d -p 5000:5000 --name python-webpage python-webpage
